@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');
  /* font-family: 'Outfit', sans-serif; */

.appContainer{
  font-family: 'Poppins', sans-serif;
}

.headerContainer{
  padding: 0 128px;
  background: #00643C;
  font-size: 12px;
}

.innerHeaderContainer p{
  font-weight: 500;
}

.navbarContainer{
  padding: 0 128px;
}

.navbarContainer p{
  font-weight: 600;
  cursor: pointer;
}

.navbarContainer img{
  cursor: pointer;
}

.carouselContainer{
  padding: 0 128px;
}

.carouselContainer img{
  width:100%;
  height:100%;
  object-fit:cover;
}

