@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');
  /* font-family: 'Outfit', sans-serif; */

*{
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.headerContainer{
  background: #000000;
  font-size: 12px;
}

.innerHeaderContainer p{
  font-weight: 500;
}

.navbarHamburgerContainer{
  display: none;
  z-index: 10;
  position: relative;
  margin: 0;
}

.navbarHamburgerContainer img{
  z-index: 10;
}

.navbarNavigationContainer p, .navbarNavigationContainer img{
  padding-right: 32px;
}

.footerContainer{
  background: #000000;
}

.footerPayments p{
  font-weight: 500;
}

.paymentsIconContainer div{
  width: 22%;
  background-color: #eaeaea;
  border-radius: 5px;
}

/* MAIN PADDING */
.navbarContainer, .headerContainer, .imageBannerContainer, .footerContainer{
  padding: 0 164px;
}

.imageBannerContainer img{
  border-radius: 15px;
}

@media (max-width: 1110px) {
  .navbarContainer, .headerContainer, .imageBannerContainer, .footerContainer{
    padding: 0 100px;
  }
}

@media (max-width: 970px) {
  .headerContainer{
    display: none;
  }
  
  .navbarContainer{
    display: none;
  }

  .navbarHamburgerContainer{
    display: flex;
    padding: 20px 100px;
  }
}

@media (max-width: 576px) {
  .headerContainer, .imageBannerContainer, .footerContainer{
    padding: 0 32px;
  }

  .navbarHamburgerContainer{
    padding: 24px 32px;
  }
}

.navbarContainer p{
  font-weight: 600;
  cursor: pointer;
}

.navbarContainer img{
  cursor: pointer;
}

.imageBannerContainer img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* -----HAMBURGER-----*/

.burger-menu {
  z-index: 10;
  position: relative;
	width: 27px;
	height: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
	width: 27px;
	height: 3px;
	background: #000000;
  border-radius: 0.5em;
}

/* ------------- sliding menu ------------------ */

.menu {
  height: 100vh;
  width: 100vw;
  padding: 32px;
  padding-top: 100px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  transition: transform 0.3s 0.1s ease-in-out;
  background: white;
  font-weight: 600;
}

.menu p, .menu img{
  cursor: pointer;
}

.visible {
  transform: translateX(0px);
}

/* ONLY FOR ACTIVE MENU */
.navbarHamburgerContainer.sticky{
  position: sticky;
  top: 0;
}

/* ----- animations--------- */

/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: translateY(10px) rotate(45deg);
  transition: ease-in-out 0.2s;
}

.burger-bar.clicked:nth-child(2){
  display: none;
  transition: ease-in-out 0.2s;
}

.burger-bar.clicked:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
  transition: ease-in-out 0.2s;
}

/* unclicked */

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: ease-in-out 0.2s;
}

